:root {
  --emoji-width-hight: 5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-items: space-around;
  min-height: 100vh;
}

.emoji {
  width: var(--emoji-width-hight);
  height: var(--emoji-width-hight);
}

.head {
}

.eyes {
}

.eye-left {
}

.eye-right {
}

.mouth {
}
